@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: 'Comfortaa', sans-serif;

  --color-tribeweb-50: #ebf8fb;
  --color-tribeweb-100: #d2eef6;
  --color-tribeweb-200: #71d1e7;
  --color-tribeweb-300: #59bfd6;
  --color-tribeweb-400: #40a9c0;
  --color-tribeweb-500: #008ca3;
  --color-tribeweb-600: #007386;
  --color-tribeweb-700: #005c6c;
  --color-tribeweb-800: #00515f;
  --color-tribeweb-900: #004d5a;
  --color-tribeweb-950: #004d5a;

  --color-accent-400: #439bff;
  --color-accent-500: #73b2ff;
}
