@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: 'Comfortaa', sans-serif;

  --color-tribeweb-50: #ebf8fb;
  --color-tribeweb-100: #d2eef6;
  --color-tribeweb-200: #71d1e7;
  --color-tribeweb-300: #59bfd6;
  --color-tribeweb-400: #40a9c0;
  --color-tribeweb-500: #008ca3;
  --color-tribeweb-600: #007386;
  --color-tribeweb-700: #005c6c;
  --color-tribeweb-800: #00515f;
  --color-tribeweb-900: #004d5a;
  --color-tribeweb-950: #004d5a;

  --color-accent-400: #439bff;
  --color-accent-500: #73b2ff;

  --color-modern-400: #ff1600;
  --color-modern-500: #ff1600;

  --color-boutique-400: #0d6eff;
  --color-boutique-500: #0d6eff;

  --color-classic-400: #01dc51;
  --color-classic-500: #01dc51;

}

:root {
  --ui-error: var(--color-modern-500);
  --ui-info: var(--color-boutique-500);
  --ui-success: var(--color-classic-500);
}

.dark {
  --ui-error: var(--color-modern-500);
  --ui-info: var(--color-boutique-500);
  --ui-success: var(--color-classic-500);
}